<% model_class = Subscription %>
<div class="card shadow">

  <div class="card-header">
    <strong>
      <%= model_class.human_attribute_name(:subscription).capitalize %>:
    </strong>
  </div>

  <div class="card-body">
    <strong>
      <%= model_class.human_attribute_name(:active).capitalize %>
    </strong>
    <%= boolean_label(@subscription.active?) %>
    <br>
    <strong>
      <%= model_class.human_attribute_name(:ends_at).capitalize %>:
    </strong>
    <%= @subscription.ends_at %>
    <br>
    <strong>
      <%= model_class.human_attribute_name(:ends_in).capitalize %>:
    </strong>
    <%= distance_of_time_in_words(Time.now, @subscription.ends_at) %>
  </div>

  <div class="card-footer">
    <strong>
      <%= Plan.human_attribute_name(:plan).capitalize %>:
    </strong>
    <%= @plan.name %>
    <br>
    <strong>
      <%= Plan.human_attribute_name(:amount).capitalize %>:
    </strong>
    <%= number_to_currency(@plan.amount/100, unit: @plan.currency) %>
    <br>
    <strong>
      <%= Plan.human_attribute_name(:interval).capitalize %>:
    </strong>
    <%= @plan.interval %>
    <br>
    <strong>
      <%= Plan.human_attribute_name(:max_members).capitalize %>:
    </strong>
    <%= @plan.max_members %>
    <hr>

    <% if @plan.amount > 0 %>
      <%= form_tag charges_path, method: :post do %>
        <script class="stripe-button" 
          data-amount="<%= @plan.amount %>" 
          data-description="<%= current_tenant.name %>" 
          data-email="<%= current_user.email %>" 
          data-key="<%= Rails.application.credentials[Rails.env.to_sym][:stripe][:publishable] %>" 
          data-locale="auto" 
          src="https://checkout.stripe.com/checkout.js">
        </script>
      <% end %>
    <% else %>
      <%= button_to Charge.human_attribute_name(:activate_subscription).capitalize, charges_path, method: :post %>
    <% end %>

    <hr>
    <%= button_to Subscription.human_attribute_name(:cancel_subscription).capitalize, @subscription, method: :delete, data: { confirm: 'Are you sure?' } %>

  </div>
</div>
