<% model_class = Tenant %>
<h3>
  <div class="text-center">
    <%= t "#{controller_name}_#{action_name}" %>
    <div class="badge badge-info">
      <%= @tenants.count %>
    </div>
  </div>
</h3>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover shadow">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id).capitalize %></th>
        <th><%= Tenant.human_attribute_name(:name).capitalize %></th>
        <th><%= model_class.human_attribute_name(:logo).capitalize %></th>
        <th><%= model_class.human_attribute_name(:plan).capitalize %></th>
        <th><%= model_class.human_attribute_name(:users).capitalize %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tenants.each do |tenant| %>
        <tr>
          <td>
            <% if current_user.tenants.include?(tenant) %>
              <%= link_to tenant.id, tenant %>
            <% else %>
              <%= tenant.id %>
            <% end %>
          </td>
          <td><%= tenant.name %></td>
          <td>
            <% if tenant.logo.attached? %>
              <%= image_tag tenant.logo, size: "20x20" %>
            <% end %>
          </td>
          <td>
            <% if tenant.plan.present? %>
              <span class="badge badge-secondary">
                <%= tenant.plan %></td>
              </span>
            <% end %>
          <td>
            <%= tenant.users.compact.join(', ') %>
          </td>
          <td>
            <% if current_user.tenants.include?(tenant) %>
              <% if current_user.tenant == tenant %>
                <div class="badge badge-success">
                  <%= t(".current_tenant") %>
                </div>
              <% else %>
                <%= button_to t(".switch_tenant"), switch_tenant_path(tenant), method: :patch %>
              <% end %>
            <% end %>
          </td>
          <% if current_user.tenants.include?(tenant) && Member.find_by(user: current_user, tenant: tenant).admin? %>
            <td><%= link_to t(".edit", default: t("helpers.links.edit")).capitalize, edit_tenant_path(tenant) %></td>
            <td><%= link_to t(".destroy", default: t("helpers.links.destroy")).capitalize, tenant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>
<br>
