<% model_class = Tenant %>
<div class="card shadow">
  <div class="card-header">
    <h4>
      <strong><%= model_class.human_attribute_name(:name).capitalize %>:</strong>
      <%= @tenant.name %>
    </h4>
  </div>
  <div class="card-body">
    <strong><%= model_class.human_attribute_name(:members).capitalize %>:</strong>
    <%= @tenant.users.compact.join(', ') %>
    <br>
    <strong><%= model_class.human_attribute_name(:members_count).capitalize %>:</strong>
    <%= @tenant.members.count %>
    <br>
    <strong><%= model_class.human_attribute_name(:plan).capitalize %>:</strong>
    <span class="badge badge-secondary">
      <%= @tenant.plan %>
    </span>
    <br>
    <strong><%= model_class.human_attribute_name(:logo).capitalize %>:</strong>
    <br>
    <% if @tenant.logo.attached? %>
      <%= image_tag @tenant.logo, size: "50x50" %>
    <% end %>
  </div>
  <div class="card-footer">
    <% if current_user.tenants.include?(@tenant) && Member.find_by(user: current_user, tenant: @tenant).admin? %>
      <%= link_to t(".edit", default: t("helpers.links.edit")).capitalize, edit_tenant_path(@tenant) %> |
    <% end %>
    <%= link_to t(".back", default: t("helpers.links.back")).capitalize, my_tenants_path %>
  </div>
</div>
<br>

<% if @tenant.subscription.present? %>

  <div class="card shadow">
    <div class="card-header">
      <strong>
        Your Subscription
      </strong>
    </div>
    <div class="card-body">
      <strong>Active?</strong>
      <%= @tenant.subscription.active? %>
      <br>
      <strong>Ends at</strong>
      <%= @tenant.subscription.ends_at %>
      <br>
      <strong>End</strong>
      <%= distance_of_time_in_words(Time.now, @tenant.subscription.ends_at) %>
    </div>
    <div class="card-footer">
      <strong>Plan:</strong>
      <%= @tenant.subscription.plan.name %>
      <br>
      <strong>Price:</strong>
      <%= number_to_currency(@tenant.subscription.plan.amount, unit: @tenant.subscription.plan.currency) %>
      <br>
      <strong>Interval:</strong>
      <%= @tenant.subscription.plan.interval %>
      <br>
      <strong>Max members:</strong>
      <%= @tenant.subscription.plan.max_members %>
      <hr>
      <%= button_to "Pay and resume subscription", charges_path, method: :post %>
  
    </div>
  </div>


<% end %>

<% if @charges.any? %>

  <br>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover shadow">
      <thead>
        <tr>
          <th>id</th>
          <th>amount</th>
          <th>created_at</th>
        </tr>
      </thead>
      <tbody>
        <% @charges.each do |charge| %>
          <tr>
            <td><%= charge.id %></td>
            <td><%= number_to_currency(charge.amount, unit: charge.subscription.plan.currency) %></td>
            <td><%= charge.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>