<div class="card shadow">
  <div class="card-header">
    <h4>
      <strong>Name:</strong>
      <%= @tenant.name %>
    </h4>
  </div>
  <div class="card-body">
    <strong>Members:</strong>
    <%= @tenant.users.compact.join(', ') %>
    <br>
    <strong>Members count:</strong>
    <%= @tenant.members.count %>
    <br>
    <strong>Plan:</strong>
    <%= @tenant.plan %>
    <br>
  </div>
  <div class="card-footer">
    <% if current_user.tenants.include?(@tenant) && Member.find_by(user: current_user, tenant: @tenant).admin? %>
      <%= link_to 'Edit', edit_tenant_path(@tenant) %>
    <% end %>
    <%= link_to 'Back', tenants_path %>
  </div>
</div>