<% model_class = Tenant %>
<div class="card shadow">
  <div class="card-header">
    <h4>
      <strong>
        <%= model_class.human_attribute_name(:name).capitalize %>:
      </strong>
      <%= @tenant.name %>
    </h4>
  </div>
  <div class="card-body">
    <strong>
      <%= model_class.human_attribute_name(:members_count).capitalize %>:
    </strong>
    <%= @tenant.members_count %>
    <br>
    <strong>
      <%= model_class.human_attribute_name(:logo).capitalize %>:
    </strong>
    <br>
    <% if @tenant.logo.attached? %>
      <%= image_tag @tenant.logo, size: "50x50" %>
    <% end %>
  </div>
  <div class="card-footer">
    <% if current_user.tenants.include?(@tenant) && Member.find_by(user: current_user, tenant: @tenant).admin? %>
      <%= link_to t(".edit", default: t("helpers.links.edit")).capitalize, edit_tenant_path(@tenant), class: "btn btn-sm btn-warning" %>
      <%= link_to t(".destroy", default: t("helpers.links.destroy")).capitalize, @tenant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
    <% end %>
  </div>
</div>
<br>

<div class="card shadow">
  <div class="card-header">
    Billing
  </div>
  <div class="card-body">
    <%= link_to t('navigation.pricing'), pricing_path %>
    <br>
    <b>Customer id:</b>
    <%= current_tenant.stripe_customer_id %>
    <br>
    <b>Plan:</b>
    <%= current_tenant.plan %>
    <br>
    <b>Subscription status:</b>
    <%= current_tenant.subscription_status %>
    <br>
    <b>Subscription end:</b>
    <%= current_tenant.current_period_end %>
    <br>
    <%= link_to "Billing Settings", billing_portal_path, method: :post, data: { disable_with: "validating..."} %>
  </div>
</div>
