<div class="card">
  <div class="card-header">
    <h4>
      <strong>Name:</strong>
      <%= @tenant.name %>
    </h4>
  </div>
  <div class="card-body">
    <strong>Members:</strong>
    <%= @tenant.users.compact.join(', ') %>
    <br>
    <strong>Members count:</strong>
    <%= @tenant.members.count %>
    <br>

  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_tenant_path(@tenant) %> |
    <%= link_to 'Back', tenants_path %>
  </div>
</div>