<h3 class= "text-center">
  <%= t(".title") %>
</h3>

<div class="card-deck">
  <% @plans.each do |plan| %>
    <div class="card shadow text-center">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">
          <%= plan.name %>
        </h4>
        <p class="card-text">
          <%= number_to_currency(plan.amount/100, unit: plan.currency) %>/
          <%= plan.interval %>
        </p>
        <p class="card-text">
          <small class="text-muted">
            <%= pluralize(plan.max_members, 'user') %>
          </small></p>
      </div>
      <div class="card-footer">
        <% if user_signed_in? %>
          <% if current_user.tenant.present? %>
            <% if current_user.tenant.subscription.present? %>
              <%= t(".you_already_are_subscribed") %>
            <% else %>
              <% if Member.find_by(user: current_user, tenant: current_user.tenant).admin? %>
                <%= button_to t(".subscribe").capitalize, subscriptions_path(plan: plan), method: :post %>
              <% else %>
                <%= t(".contact_admin_to_subscribe", tenant: current_user.tenant) %>
              <% end %>
            <% end %>
          <% else %>
            <%= t(".create_a_tenant_to_select_plan") %>
          <% end %>
        <% else %>
          <div>
            <%= link_to t("header.register"), new_user_registration_path, class: 'btn btn-lg btn-success' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>