<h3 class= "text-center">
  Pricing
</h3>

<div class="card-deck">
  <% @plans.each do |plan| %>
    <div class="card shadow text-center">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">
          <%= plan.name %>
        </h4>
        <p class="card-text">
          <%= number_to_currency(plan.amount/100, unit: plan.currency) %>/
          <%= plan.interval %>
        </p>
        <p class="card-text">
          <small class="text-muted">
            <%= pluralize(plan.max_members, 'user') %>
          </small></p>
      </div>
      <div class="card-footer">
        <% if user_signed_in? %>
          <% if current_user.tenant.present? %>
            <% if current_user.tenant.subscription.present? %>
              You already have an active subscription
            <% else %>
              <% if Member.find_by(user: current_user, tenant: current_user.tenant).admin? %>
                <%= button_to 'Subscribe', subscriptions_path(plan: plan), method: :post %>
              <% else %>
                Please contact an admin at <b><%= current_user.tenant %></b> to subscribe
              <% end %>
            <% end %>
          <% else %>
            Create a Tenant to select a plan
          <% end %>
        <% else %>
          <div>
            <%= link_to t("header.register"), new_user_registration_path, class: 'btn btn-lg btn-success' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>