<h2 class= "text-center">
  <%= t(".title") %>
</h2>

<br/>

<div class="card-deck">
  <% @plans.each do |plan| %>
    <div class="card shadow text-center">
      <div class="card-body">
        <h3 class="card-title font-weight-bold">
          <em>
          <%= plan.name %>
          </em>
        </h3>
        <br/>
        <%= plan.currency %>
        <b style="font-size: 1.9em;">
          <%= plan.amount/100 %>
        </b>
        /
        <%= plan.interval %>
        <hr>
        <small>
          <%= pluralize(plan.max_members, "user", plural: "users") %>
        </small>
      </div>
      <div class="card-footer">
        <%= subscribe_to(plan) %>
      </div>
    </div>
  <% end %>
</div>