<div class="text-center">
  Comments:
  <%= @commentable.comments.count %>
</div>
<ul class="list-group">
  <% commentable.comments.each do |comment| %>
    <li class="list-group-item list-group-item-secondary">
      <%= link_to comment.member, comment.member %>
      <%= comment.created_at.strftime('%d-%m-%Y %H:%m') %>
      <%= link_to [@commentable, comment], method: :delete, class: "badge badge-danger", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) } do %>
        <i class="fa fa-trash"></i>
      <% end %>
      <%= simple_format(comment.content) %>
    </li>
  <% end %>
</ul>
