
<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :project %>
    <%= f.association :member %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :deadline, as: :date, html5: true %>
    <%= f.input :urgent %>
    <%= f.input :status, collection: Task.statuses %>
    <%= f.input :done_at, as: :date, html5: true %>
    <%= f.input :duration_minutes %>
    <%= f.label :tags %>
    <%= f.select :tag_ids, Tag.where(category: "task").pluck(:name, :id), {}, { multiple: true, class: "selectize-tags" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
