<h3>
  <div class="text-center">
    Tasks
    <div class="badge badge-info">
      <%= @tasks.count %>
    </div>
    <%= link_to t('.new', default: t("helpers.links.new")), new_task_path, class: 'btn btn-primary' %>
  </div>
</h3>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover table-sm table-light shadow">
    <thead>
      <tr>
        <th>Id</th>
    	  
        <th>Creator</th>
        <th>Project</th>
        <th>Member</th>
        
        <th>Name</th>
        
        <th>Description</th>
        
        <th>Deadline</th>
        
        <th>Urgent</th>
        
        <th>Status</th>
        <th>Done At</th>
        
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <%= content_tag :tr, id: dom_id(task), class: dom_class(task) do %>
          <td><%= link_to task.id, task %></td>
          
            <td><%= task.creator %></td>
            <td><%= task.project %></td>
            <td><%= task.member %></td>
          
            <td><%= task.name %></td>
          
            <td><%= task.description %></td>
          
            <td><%= task.deadline %></td>
          
            <td><%= task.urgent %></td>
          
            <td><%= task.status %></td>
            <td><%= task.done_at %></td>
          
          <td>
            <%= link_to t(".edit", default: t("helpers.links.edit")).capitalize, edit_task_path(task), class: 'btn btn-sm btn-warning' %>
            <%= link_to t(".destroy", default: t("helpers.links.destroy")).capitalize, task, method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-sm btn-danger' %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>


