<% model_class = Task %>
<div class="card shadow">
  <div class="card-header">
    <h4>
      Task
    </h4>
  </div>
  <div class="card-body">

    <b>Project:</b>
    <%= link_to @task.project, @task.project %>
    <br>
  
    <b>Name:</b>
    <%= @task.name %>
    <br>

    <b>Member:</b>
    <%= link_to @task.member, @task.member %>
    <br>
  
    <b>Creator:</b>
    <%= link_to @task.creator, @task.creator %>
    <br>
  
    <b>Urgent:</b>
    <%= boolean_label(@task.urgent) %>
    <br>
  
    <b>Status:</b>
    <%= status_label(@task.status) %>
    <br>
  
    <b>Deadline:</b>
    <%= @task.deadline %>
    <br>

    <b>Done At:</b>
    <%= @task.done_at %>
    <br>

    <b>Duration:</b>
    <%= time_conversion(@task.duration_minutes) %>
    <br>

    <b>Tags:</b>
    <%= render 'tags/tags', model: @task %>
    <br>

    <b>Description:</b>
    <%= simple_format(@task.description) %>
  
  </div>
  <div class="card-footer">
    <div class="btn-group">
      <% Task::STATUSES.each do |status| %>
        <%= link_to change_status_task_path(@task, status: status), method: :patch, class: "btn btn-sm btn-info #{'disabled' if @task.status.to_sym == status}" do %>
          <%= status %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to t(".edit", default: t("helpers.links.edit")).capitalize, edit_task_path(@task), class: "btn btn-sm btn-warning" %>
    <%= link_to t(".destroy", default: t("helpers.links.destroy")).capitalize, @task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
    <%= link_to t(".back", default: t("helpers.links.back")).capitalize, tasks_path, class: "btn btn-sm btn-secondary" %>
    <%= link_to send_reminder_path(@task), method: :post, class: "btn btn-sm btn-info" do %>
      <i class="fab fa-telegram-plane"></i>
      Send Reminder
    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to "New Comment", new_task_comment_path(@commentable, @comment), class: "btn btn-sm btn-primary" %>
  </div>
</div>

<br>
<%= render partial: "comments/index", locals: {commentable: @commentable} %>

<%= render "tenant/activities" %>
