<% model_class = Task %>
<div class="card shadow">
  <div class="card-header">
    <h4>
      Task
    </h4>
  </div>
  <div class="card-body">
  
    <b>Creator:</b>
    <%= @task.creator %>
    <br>

    <b>Project:</b>
    <%= @task.project %>
    <br>

    <b>Member:</b>
    <%= @task.member %>
    <br>
  
    <b>Name:</b>
    <%= @task.name %>
    <br>
  
    <b>Description:</b>
    <%= @task.description %>
    <br>
  
    <b>Deadline:</b>
    <%= @task.deadline %>
    <br>
  
    <b>Urgent:</b>
    <%= @task.urgent %>
    <br>
  
    <b>Status:</b>
    <%= @task.status %>
    <br>
    <b>Done At:</b>
    <%= @task.done_at %>
    <br>
  
  </div>
  <div class="card-footer">
    <%= link_to t(".edit", default: t("helpers.links.edit")).capitalize, edit_task_path(@task), class: "btn btn-sm btn-warning" %>
    <%= link_to t(".destroy", default: t("helpers.links.destroy")).capitalize, @task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
    <%= link_to t(".back", default: t("helpers.links.back")).capitalize, tasks_path, class: "btn btn-sm btn-secondary" %>
  </div>
</div>
