<% model_class = Subscription %>
<h3>
  <div class="text-center">
    <%= t('activerecord.models.subscriptions') %>
    <div class="badge badge-info">
      <%= @subscriptions.count %>
    </div>
  </div>
</h3>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover table-sm table-light shadow">
    <thead>
      <tr>
        <th><%= sort_link(@q, :plan_name, :plan_name) %></th>
        <th><%= sort_link(@q, :tenant_name, model_class.human_attribute_name(:tenant).capitalize) %></th>
        <th><%= sort_link(@q, :ends_at) %></th>
        <th><%= model_class.human_attribute_name(:active).capitalize %></th>
      </tr>
    </thead>
  
    <tbody>
      <% @subscriptions.each do |subscription| %>
        <tr>
          <td><%= subscription.plan %></td>
          <td><%= subscription.tenant %></td>
          <td><%= subscription.ends_at %></td>
          <td><%= boolean_label(subscription.active?) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
