<% model_class = User %>
<div class="card shadow">
  <div class="card-header">
    <div class="fa fa-user"></div>
    <%= link_to @user.email, user_path(@user) %>
  </div>

  <% if @user.provider.present? %>

    <div class="card-footer">
      <% if @user.image? %>
        <div class="row"></div>
        <%= image_tag @user.image, size: '40x40', alt: "#{@user.email}", class: 'rounded-circle' %>
      <% end %>
      <br>
      <strong><%= model_class.human_attribute_name(:provider).capitalize %>:</strong>
      <%= @user.provider %>
      <br>
      <strong><%= model_class.human_attribute_name(:name).capitalize %>:</strong>
      <%= @user.name %>
    </div>

  <% end %>

  <% if @user == current_user %>

    <div class="card-footer">

      <% User.omniauth_providers.each do |provider| %>
        <% identities = @user.identities.select{ |identity| identity.provider == provider.to_s } %>
        <% if identities.any? %>
          <% identities.each do |identity| %>
            <button class="btn btn-sm btn-secondary" disabled>
              <%= social_icon(provider) %>
              <%= t(".connected") %>
            </button>
          <% end %>
        <% else %>
            <%= link_to omniauth_authorize_path(User, provider), class: 'btn btn-sm btn-outline-primary', data: { disable_with: "#{t(".connecting")}..." } do %>
              <%= social_icon(provider) %>
              <%= t(".connect") %>
            <% end %>
        <% end %>
      <% end %>

    </div>

    <div class="card-footer">

      <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="userLanguageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= model_class.human_attribute_name(:language).capitalize %>:
            <%= @user.language %>
          </button>
          <div class="dropdown-menu" aria-labelledby="userLanguageDropdown">
            <% I18n.available_locales.excluding(I18n.locale).each do |language| %>
                <%= link_to language, root_path(locale: language), class: "dropdown-item" %>
            <% end %>
          </div>
        </div>
      </div>
  
      <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="userTimeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= model_class.human_attribute_name(:time_zone).capitalize %>:
            <%= Time.zone %>
          </button>
          <div class="dropdown-menu dropdown-scrollable" aria-labelledby="userTimeDropdown">
            <% ActiveSupport::TimeZone::MAPPING.each do |key, value| %>
                <%= link_to key, root_path(time_zone: value), class: "dropdown-item" %>
            <% end %>
          </div>
        </div>
      </div>

    </div>

  <% end %>

  <div class="card-footer">
    <%= model_class.human_attribute_name(:created_at).capitalize %>:
    <%= time_ago_in_words(@user.created_at) %>
    <%= t(".ago") %>
  </div>
  <div class="card-footer">
    <b>
      <%= model_class.human_attribute_name(:sign_in_count).capitalize %>:
    </b>
    <%= @user.sign_in_count %>
    <div class="row"></div>
    <b>
      <%= model_class.human_attribute_name(:current_sign_in_at).capitalize %>:
    </b>
    <%= @user.current_sign_in_at %>
    <div class="row"></div>
    <b>
      <%= model_class.human_attribute_name(:last_sign_in_at).capitalize %>:
    </b>
    <%= @user.last_sign_in_at %>
    <div class="row"></div>
    <b>
      <%= model_class.human_attribute_name(:current_sign_in_ip).capitalize %>:
    </b>
    <%= @user.current_sign_in_ip %>
    <div class="row"></div>
    <b>
      <%= model_class.human_attribute_name(:last_sign_in_ip).capitalize %>:
    </b>
    <%= @user.last_sign_in_ip %>
  </div>
  <div class="card-footer">
    <%= model_class.human_attribute_name(:confirmed).capitalize %>:
    <%= boolean_label(@user.confirmed?) %>
    <br>
    <%= model_class.human_attribute_name(:superadmin).capitalize %>:
    <%= boolean_label(@user.superadmin) %>
  </div>
</div>

<% if @invited_users.any? %>
  <br>
  
  <div class="card shadow">
    <div class="card-header">
      <%= t(".invitations").capitalize %>:
      <%= @invited_users.count %>
    </div>
    <div class="card-body">
      <% @invited_users.each do |user| %>
        <b><%= user.email %></b>
        <%= model_class.human_attribute_name(:confirmed).capitalize %>:
        <%= boolean_label(user.confirmed_at.present?) %>
        <br/>
      <% end %>
    </div>
  </div>
<% end %>

<br>
