<div class="card shadow">
  <div class="card-header">
    <div class="fa fa-user"></div>
    <%= link_to @user.email, user_path(@user) %>
  </div>

  <div class="card-footer">
    <% if @user.image? %>
      <div class="row"></div>
      <%= image_tag @user.image, size: '40x40', alt: "#{@user.email}", class: 'rounded-circle' %>
    <% end %>
    <br>
    <strong>Latest Social Login:</strong>
    <%= @user.provider %>
    <br>
    <strong>Name:</strong>
    <%= @user.name %>
  </div>

  <div class="card-footer">
    <% if @user == current_user %>
      <% unless @user.identities.pluck(:provider).include?("google_oauth2") %>
        <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-outline-primary btn-sm' do %>
          <div class="fab fa-google"></div>
          Connect Google
        <% end %>
      <% else %>
        <button type="button" class="btn btn-sm btn-primary" disabled>
          <div class="fab fa-google"></div>
          Google connected
        </button>
      <% end %>
      <% unless @user.identities.pluck(:provider).include?("github") %>
        <%= link_to user_github_omniauth_authorize_path, class: 'btn btn-outline-secondary btn-sm' do %>
          <div class="fab fa-github"></div>
          Connect Github
        <% end %>
      <% else %>
        <button type="button" class="btn btn-sm btn-secondary" disabled>
          <div class="fab fa-github"></div>
          Github connected
        </button>
      <% end %>
    <% end %>
  </div>

  <div class="card-footer">
    <b>
      Language:
    </b>
    <%= current_user.language %>
  </div>


  <div class="card-footer">
    Signed up
    <%= time_ago_in_words(@user.created_at) %>
    ago
  </div>
  <div class="card-footer">
    <b>
      <%= 'sign_in_count'.humanize + ":" %>
    </b>
    <%= @user.sign_in_count %>
    <div class="row"></div>
    <b>
      <%= 'current_sign_in_at'.humanize + ":" %>
    </b>
    <%= @user.current_sign_in_at %>
    <div class="row"></div>
    <b>
      <%= 'last_sign_in_at'.humanize + ":" %>
    </b>
    <%= @user.last_sign_in_at %>
    <div class="row"></div>
    <b>
      <%= 'current_sign_in_ip'.humanize + ":" %>
    </b>
    <%= @user.current_sign_in_ip %>
    <div class="row"></div>
    <b>
      <%= 'last_sign_in_ip'.humanize + ":" %>
    </b>
    <%= @user.last_sign_in_ip %>
  </div>
  <div class="card-footer">
    Confirmed email?
    <%= boolean_label(@user.confirmed_at.present?) %>
    <br>
    Superadmin?
    <%= boolean_label(@user.superadmin) %>
  </div>
</div>
