<% model_class = User %>
<div class="card shadow">
  <div class="card-header">
    <div class="fa fa-user"></div>
    <%= link_to @user.email, user_path(@user) %>
  </div>

  <div class="card-footer">
    <% if @user.image? %>
      <div class="row"></div>
      <%= image_tag @user.image, size: '40x40', alt: "#{@user.email}", class: 'rounded-circle' %>
    <% end %>
    <br>
    <strong><%= model_class.human_attribute_name(:provider).capitalize %>:</strong>
    <%= @user.provider %>
    <br>
    <strong><%= model_class.human_attribute_name(:name).capitalize %>:</strong>
    <%= @user.name %>
  </div>

  <% if @user == current_user %>

    <div class="card-footer">
        <% unless @user.identities.pluck(:provider).include?("google_oauth2") %>
          <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-outline-danger btn-sm' do %>
            <div class="fab fa-google"></div>
            Connect Google
          <% end %>
        <% else %>
          <button type="button" class="btn btn-sm btn-danger" disabled>
            <div class="fab fa-google"></div>
            Google connected
          </button>
        <% end %>
        <% unless @user.identities.pluck(:provider).include?("github") %>
          <%= link_to user_github_omniauth_authorize_path, class: 'btn btn-outline-dark btn-sm' do %>
            <div class="fab fa-github"></div>
            Connect Github
          <% end %>
        <% else %>
          <button type="button" class="btn btn-sm btn-dark" disabled>
            <div class="fab fa-github"></div>
            Github connected
          </button>
        <% end %>
    </div>

    <div class="card-footer">
      <div class="dropdown">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="userLanguageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= model_class.human_attribute_name(:language).capitalize %>:
          <%= @user.language %>
        </button>
        <div class="dropdown-menu" aria-labelledby="userLanguageDropdown">
          <% if I18n.locale == :en %>
            <%= link_to "Español", root_path(locale: "es"), class: "dropdown-item" %>
          <% else %>
            <%= link_to "English", root_path(locale: "en"), class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="card-footer">
    <%= model_class.human_attribute_name(:created_at).capitalize %>:
    <%= time_ago_in_words(@user.created_at) %>
    ago
  </div>
  <div class="card-footer">
    <b>
      <%= model_class.human_attribute_name(:sign_in_count).capitalize %>:
    </b>
    <%= @user.sign_in_count %>
    <div class="row"></div>
    <b>
      <%= model_class.human_attribute_name(:current_sign_in_at).capitalize %>:
    </b>
    <%= @user.current_sign_in_at %>
    <div class="row"></div>
    <b>
      <%= model_class.human_attribute_name(:last_sign_in_at).capitalize %>:
    </b>
    <%= @user.last_sign_in_at %>
    <div class="row"></div>
    <b>
      <%= model_class.human_attribute_name(:current_sign_in_ip).capitalize %>:
    </b>
    <%= @user.current_sign_in_ip %>
    <div class="row"></div>
    <b>
      <%= model_class.human_attribute_name(:last_sign_in_ip).capitalize %>:
    </b>
    <%= @user.last_sign_in_ip %>
  </div>
  <div class="card-footer">
    <%= model_class.human_attribute_name(:confirmed_at).capitalize %>:
    <%= boolean_label(@user.confirmed?) %>
    <br>
    <%= model_class.human_attribute_name(:superadmin).capitalize %>:
    <%= boolean_label(@user.superadmin) %>
  </div>
</div>
