<% model_class = Client %>
<div class="card shadow">
  <div class="card-header">
    <h4>
      Client
    </h4>
  </div>
  <div class="card-body">
    
      <strong>Name:</strong>
      <%= @client.name %>
    
      <strong>Email:</strong>
      <%= @client.email %>
    
      <strong>Address:</strong>
      <%= @client.address %>
    
      <strong>Phone:</strong>
      <%= @client.phone %>
    
  </div>
  <div class="card-footer">
    <%= link_to t(".edit", default: t("helpers.links.edit")).capitalize, edit_client_path(@client), class: "btn btn-sm btn-warning" %>
    <%= link_to t(".destroy", default: t("helpers.links.destroy")).capitalize, @client, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
    <%= link_to t(".back", default: t("helpers.links.back")).capitalize, clients_path, class: "btn btn-sm btn-secondary" %>
  </div>
</div>
