<h2 class= "text-center">
  <%= t(".title") %>
</h2>

<br>

<div class="row row-cols-1 row-cols-md-2 g-4 text-center">
  <% @pricing.each do |price| %>
  <div class="col">
    <div class="card shadow">
      <div class="card-header">
        <b><%= price.product.name %></b>
      </div>
      <div class="card-body">
        <b>
          <%= price.unit_amount/100 %>
          <%= price.currency %>
          /
          <%= price.recurring.interval %>
        </b>
        <br>
        <%= price.product.metadata %>
      </div>
      <div class="card-footer">
        <%= link_to "Pay #{price.unit_amount/100} per #{price.recurring.interval}", checkout_path(price: price.id), method: :post, remote: true, data: { disable_with: "validating..."} %>
      </div>
    </div>
  </div>
  <% end %>
</div>
