<div class="card shadow">
  <div class="card-header">
    <h4>
      <strong>Contact id:</strong>
      <%= @contact.id %>
    </h4>
  </div>
  <div class="card-body">
    <strong>First name:</strong>
    <%= @contact.first_name %>
    <br>
    <strong>Last name:</strong>
    <%= @contact.last_name %>
    <br>
    <strong>Phone number:</strong>
    <%= @contact.phone_number %>
    <br>
    <strong>Email:</strong>
    <%= @contact.email %>
    <br>
    <strong>Tenant:</strong>
    <%= @contact.tenant.name %>
  </div>
  <div class="card-footer">
    <% if @current_member %>
      <% if @current_member.admin? || @current_member.editor? %>
        <%= link_to 'Edit', edit_contact_path(@contact) %>
      <% end %>
      <%= link_to 'Back', contacts_path %>
    <% end %>
  </div>
</div>