
<%= simple_form_for(@project) do |f| %>

  <div class="form-inputs">
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.label :client %>
    <%= f.select :client_id, @clients.map{|c| [c.name, c.id]}, {include_blank: true}, class: 'selectize' %>
    <%= f.error :client, class: "text-danger" %>
    <%= f.input :payment_type, collection: Project.payment_types %>
    <%= f.input :price_cents %>
    <%= f.label :tags %>
    <%= f.select :tag_ids, Tag.where(category: "project").pluck(:name, :id), {}, { multiple: true, class: "selectize-tags" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
