
<%= simple_form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <ul class="text-danger">
      <% @tag.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :category, collection: Tag.categories %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
