<p id="notice"><%= notice %></p>

<p>
  <strong>Plan:</strong>
  <%= @subscription.plan_id %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @subscription.tenant_id %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @subscription.ends_at %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
