
<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :cash_account %>
    <%= f.input :payable_type, input_html: {value: @payment.payable_type || params[:payable_type]}, as: :hidden %>
    <% if @payment.payable_type.present? %>
    <%= f.input :payable_id, collection: @payment.payable_type.classify.constantize.all %>
    <% elsif params[:payable_type].present? %>
    <%= f.input :payable_id, collection: params[:payable_type].classify.constantize.all %>
    <% end %>
    <%= f.input :amount_cents %>
    <%= f.input :description %>
    <%= f.label :tags %>
    <%= f.select :tag_ids, Tag.where(category: "payment").pluck(:name, :id), {}, { multiple: true, class: "selectize-tags" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
