<h3>
  <div class="text-center">
    Payments
    <div class="badge bg-info">
      <%= @payments.count %>
    </div>
    <%= link_to "Client Payment", new_payment_path(payable_type: "Client"), class: 'btn btn-primary' %>
    <%= link_to "Member Payment", new_payment_path(payable_type: "Member"), class: 'btn btn-primary' %>
  </div>
</h3>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover table-sm table-light shadow">
    <thead>
      <tr>
        <th>Id</th>
    	  
        <th>CashAccount</th>
        <th>Payable</th>
        
        <th>Amount</th>
        
        <th>Description</th>
        <th>Tags</th>
        
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @payments.each do |payment| %>
        <%= content_tag :tr, id: dom_id(payment), class: dom_class(payment) do %>
          <td><%= link_to payment.id, payment %></td>
          
            <td><%= link_to payment.cash_account, payment.cash_account %></td>
            <td><%= link_to payment.payable, payment.payable %></td>
          
            <td><%= payment.amount_cents %></td>
          
            <td><%= payment.description %></td>
            <td><%= render 'tags/tags', model: payment %></td>
          
          <td>
            <%= link_to t(".edit", default: t("helpers.links.edit")).capitalize, edit_payment_path(payment), class: 'btn btn-sm btn-warning' %>
            <%= link_to t(".destroy", default: t("helpers.links.destroy")).capitalize, payment, method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-sm btn-danger' %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<%== pagy_bootstrap_nav(@pagy) %>
