<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @plan.amount %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @plan.currency %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @plan.interval %>
</p>

<p>
  <strong>Max members:</strong>
  <%= @plan.max_members %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
