<div class="text-center">
  <h3>Calendar</h3>
  
  <%= form_tag calendar_path, method: :get do %>
    <% unless params.has_key?(:member_id) %>
      <%= select_tag :member_id, options_for_select(@members.map{|x| [x.to_s, x.id]}), {prompt: "User", onchange: "this.form.submit()"} %>
    <% else %>  
      <%= select_tag :member_id, options_for_select(@members.map{|x| [x.to_s, x.id]}, params[:member_id]), {prompt: "User", onchange: "this.form.submit()"} %>
      <%= link_to "refresh", calendar_path, class: "btn btn-sm btn-secondary" %>
    <% end %>
  <% end %>
</div>

<br>

<div class="card shadow">
  <div class="card-body">
    <div class="table-responsive">
      <%= month_calendar(events: @tasks, attribute: :calendar_date) do |date, tasks| %>
        <%= date %>
      
        <% tasks.each do |task| %>
          <br/>
          <%= link_to task_path(task), class: "badge badge-#{task.status_color}" do %>
            <%= task.name %>
            <br>
            <%= task.member %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
