<div class= "card shadow">
  <div class= "card-body">
    <h3 class= "text-center">
      <b>
        <%= current_tenant %>
        dashboard
      </b>
    </h3>
    
    <hr>
  
    <%= link_to tasks_report_path, class: "btn btn-lg btn-info" do %>
      <i class="fa fa-file-alt"></i>
      <%= t 'sidebar.tasks_report' %>
    <% end %>
    <%= link_to activity_path, class: "btn btn-lg btn-info" do %>
      <i class="fa fa-history"></i>
      <%= t 'sidebar.activity' %>
    <% end %>
    <%= link_to charts_path, class: "btn btn-lg btn-info" do %>
      <i class="fa fa-chart-line"></i>
      <%= t 'sidebar.charts' %>
    <% end %>

    <%= link_to tags_path, class: "btn btn-lg btn-info" do %>
      <i class="fa fa-tags"></i>
      <%= t 'sidebar.tags' %>
      <div class="badge badge-primary">
        <%= Tag.count %>
      </div>
    <% end %>

    <%= link_to "Send Controller", say_hello_path, method: :post, class: "btn btn-lg btn-danger" %>

  </div>
</div>
