<div class= "card shadow">
  <div class= "card-body">
    <h3 class= "text-center">
      <b>
        <%= current_tenant %>
        dashboard
      </b>
    </h3>
    
    <hr>
  
    <%= link_to "Tasks Report", tasks_report_path, class: "btn btn-sm btn-info" %>
    <%= link_to "Feed", feed_path, class: "btn btn-sm btn-info" %>
    <%= link_to "Charts", charts_path, class: "btn btn-sm btn-info" %>

    <%= link_to tags_path, class: "btn btn-sm btn-info" do %>
      <i class="fa fa-tags"></i>
      <%= t 'sidebar.tags' %>
      <div class="badge badge-primary">
        <%= Tag.count %>
      </div>
    <% end %>

  </div>
</div>
