<div class="footer mh-100 bg-light">
  <br>
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-4">
        <%= link_to 'CorsegoSaaS', root_path, class: "#{'active font-weight-bold' if current_page?(root_path)}" %>
        © 
        <%= Time.now.year %>
        <br/>
        <%= link_to t('footer.home'), root_path, class: "#{'active font-weight-bold' if current_page?(root_path)}" %>
      </div>
      <div class="col-md-4">
        <%= link_to t('footer.about'), about_path, class: "#{'active font-weight-bold' if current_page?(about_path)}" %>
        <br/>
        <%= link_to t('footer.pricing'), pricing_path, class: "#{'active font-weight-bold' if current_page?(pricing_path)}" %>
      </div>
      <div class="col-md-4">
        <%= link_to t('footer.terms'), terms_path, class: "#{'active font-weight-bold' if current_page?(terms_path)}" %>
        <br/>
        <%= link_to t('footer.privacy'), privacy_path, class: "#{'active font-weight-bold' if current_page?(privacy_path)}" %>
      </div>
    </div>
  </div>
  <br>
</div>