<footer class="<%= cookies[:theme] %>">
  <div class="container-fluid text-center">
    <br>
    <div class="row">
      <div class="col-lg-4">
        <%= link_to 'GoroCRM', root_path, class: "#{'active font-weight-bold' if current_page?(root_path)}" %>
        © 
        <%= Time.now.year %>
        <br/>
        <%= mail_to 'info@goro.in.ua' do %>
          <div class="fa fa-envelope"></div>
        <% end %>
        <%= link_to "https://facebook.com/goro.in.ua", target: :_blank do %>
          <div class="fab fa-facebook"></div>
        <% end %>
        <%= link_to "https://www.linkedin.com/company/law-firm-%C2%ABgoro-legal%C2%BB/", target: :_blank do %>
          <div class="fab fa-linkedin"></div>
        <% end %>
        <%= link_to "https://youtube.com/user/goroinua", target: :_blank do %>
          <div class="fab fa-youtube"></div>
        <% end %>
      </div>
      <div class="col-lg-4">
        <%= link_to t('navigation.pricing'), pricing_path, class: "#{'active font-weight-bold' if current_page?(pricing_path)}" %>
        <br/>
        <%= link_to t('navigation.terms'), terms_path, class: "#{'active font-weight-bold' if current_page?(terms_path)}" %>
        <br/>
        <%= link_to t('navigation.privacy'), privacy_path, class: "#{'active font-weight-bold' if current_page?(privacy_path)}" %>
      </div>
      <div class="col-lg-4">
        <%= link_to "https://goro.ua", target: :_blank do %>
          Наш веб-сайт
          <div class="fa fa-external-link-alt"></div>
        <% end %>
        <br/>
      </div>
    </div>
  </div>
  <br>
</footer>