<nav class="navbar navbar-expand-lg navbar-dark bg-purple">
  <a class="navbar-brand" href="/">
    <%= image_tag "tree yellow.png", height: '30', alt: "logo", class: "d-inline-block align-top" %>
    SaasCorsego
  </a>
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-left">
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="languageDropdown" role="button">
          <%= I18n.locale %>
        </a>
        <div aria-labelledby="languageDropdown" class="dropdown-menu dropdown-menu-right">
          <% if I18n.locale == :en %>
            <%= link_to "Español", root_path(locale: "es"), class: "dropdown-item" %>
          <% else %>
            <%= link_to "English", root_path(locale: "en"), class: "dropdown-item" %>
          <% end %>
        </div>
      </li>
    </ul>

    <% if current_user %>
      <ul class="navbar-nav mr-auto">
        <% if current_user.superadmin? %>
          <li class="<%= 'active font-weight-bold' if current_page?(superadmin_root_path) %> nav-item">
            <%= link_to superadmin_root_path, class: 'nav-link' do %>
              <i class="fas fa-user-shield"></i>
              Superadmin
            <% end %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav mr-right">
        <% if current_user.tenants.include?(current_user.tenant) %>
          <li class="<%= 'active font-weight-bold' if ActsAsTenant.current_tenant %> nav-item">
            <%= link_to tenant_path(current_user.tenant), class: 'nav-link' do %>
              <% if current_user.tenant.logo.attached? %>
                <%= image_tag current_user.tenant.logo, size: "30x30" %>
              <% else %>
                <i class="fas fa-briefcase"></i>
              <% end %>
              <%= current_user.tenant.name %>
            <% end %>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="tenantsDropdown" role="button">
            <i class="fas fa-building"></i>
            <%= t 'header.tenants' %>
          </a>
          <div aria-labelledby="tenantsDropdown" class="dropdown-menu dropdown-menu-right">
            <%= link_to my_tenants_path, class: "dropdown-item #{'active' if current_page?(my_tenants_path)}" do %>
              <i class="fas fa-building"></i>
              <%= t 'header.my_tenants' %>
            <% end %>
            <%= link_to new_tenant_path, class: "dropdown-item #{'active' if current_page?(new_tenant_path)}" do %>
              <i class="fas fa-plus"></i>
              <%= t 'header.new_tenant' %>
            <% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="userDropdown" role="button">
            <% if current_user.image? %>
              <%= image_tag current_user.image, size: '30x30', alt: "#{current_user.username}", class: 'rounded-circle' %>
            <% else %>
              <div class="fa fa-user"></div>
            <% end %>
            <%= current_user.username %>
          </a>
          <div aria-labelledby="userDropdown" class="dropdown-menu dropdown-menu-right">
            <%= link_to user_path(current_user), class: "dropdown-item #{'active' if current_page?(user_path(current_user))}" do %>
              <%= t 'header.my_profile' %>
            <% end %>
            <%= link_to edit_user_registration_path, class: "dropdown-item #{'active' if current_page?(edit_user_registration_path)}" do %>
              <%= t 'header.account_settings' %>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
              <%= t 'header.sign_out' %>
            <% end %>
          </div>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav mr-right">
        <li class="<%= 'active font-weight-bold' if current_page?(new_user_registration_path) %> nav-item">
          <%= link_to t("header.register"), new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="<%= 'active font-weight-bold' if current_page?(new_user_session_path) %> nav-item">
          <%= link_to t("header.login"), new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="<%= 'active font-weight-bold' if current_page?(user_google_oauth2_omniauth_authorize_path) %> nav-item">
          <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'nav-link' do %>
            <div class="fab fa-google"></div>
          <% end %>
        </li>
        <li class="<%= 'active font-weight-bold' if current_page?(user_github_omniauth_authorize_path) %> nav-item">
          <%= link_to user_github_omniauth_authorize_path, class: 'nav-link' do %>
            <div class="fab fa-github"></div>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
