<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    Navbar
  </a>
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if current_user %>
      <ul class="navbar-nav mr-auto">
        <!--/ show current_tenant if it is set in specific controller action-->
        <div class="nav-link active">
          <% if ActsAsTenant.current_tenant %>
            <%= current_tenant %>
          <% end %>
        </div>
        <li class="<%= 'active font-weight-bold' if current_page?(root_path) %> nav-item">
          <%= link_to root_path, class: 'nav-link' do %>
            <div class="fa fa-home"></div>
            Home
          <% end %>
        </li>
        <li class="<%= 'active font-weight-bold' if current_page?(users_path) %> nav-item">
          <%= link_to users_path, class: 'nav-link' do %>
            <div class="fa fa-users"></div>
            Users
            <div class="badge badge-info">
              <%= User.count %>
            </div>
          <% end %>
        </li>
        <li class="<%= 'active font-weight-bold' if current_page?(tenants_path) %> nav-item">
          <%= link_to tenants_path, class: 'nav-link' do %>
            <div class="fa fa-users"></div>
            Tenants
            <div class="badge badge-info">
              <%= Tenant.count %>
            </div>
          <% end %>
        </li>
        <% if current_user.tenants.include?(current_user.tenant) %>
          <li class="<%= 'active font-weight-bold' if current_page?(members_path) %> nav-item">
            <%= link_to members_path, class: 'nav-link' do %>
              <div class="fa fa-users"></div>
              Members
              <% if ActsAsTenant.current_tenant %>
                <div class="badge badge-info">
                  <%= Member.count %>
                </div>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav mr-right">
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
            <% if current_user.tenants.include?(current_user.tenant) %>
              <b>
                <%= current_user.tenant.id %>
                <%= current_user.tenant.name %>
              </b>
            <% else %>
              <b>
                Tenants
              </b>
            <% end %>
          </a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right">
            <%= link_to my_tenants_path, class: "dropdown-item #{'active' if current_page?(my_tenants_path)}" do %>
              <div class="fa fa-cog"></div>
              <b>My Tenants</b>
            <% end %>
            <%= link_to new_tenant_path, class: "dropdown-item #{'active' if current_page?(new_tenant_path)}" do %>
              <div class="fa fa-sign-out-alt"></div>
              <b>New Tenant</b>
            <% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
            <b>
              <%= current_user.email %>
            </b>
          </a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right">
            <%= link_to edit_user_registration_path, class: "dropdown-item #{'active' if current_page?(edit_user_registration_path)}" do %>
              <div class="fa fa-cog"></div>
              <b>Account settings</b>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
              <div class="fa fa-sign-out-alt"></div>
              <b>Sign out</b>
            <% end %>
          </div>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav mr-right">
        <li class="<%= 'active font-weight-bold' if current_page?(new_user_registration_path) %> nav-item">
          <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="<%= 'active font-weight-bold' if current_page?(new_user_session_path) %> nav-item">
          <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
