<nav class="navbar navbar-expand-lg navbar-dark bg-purple">
  <a class="navbar-brand" href="/">
    <%= image_tag "tree yellow.png", height: '30', alt: "logo", class: "d-inline-block align-top" %>
    SaasCorsego
  </a>
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if current_user %>
      <ul class="navbar-nav mr-auto">
        <li class="<%= 'active font-weight-bold' if current_page?(root_path) %> nav-item">
          <%= link_to root_path, class: 'nav-link' do %>
            <i class="fas fa-home"></i>
            Home
          <% end %>
        </li>
        <li class="<%= 'active font-weight-bold' if current_page?(users_path) %> nav-item">
          <%= link_to users_path, class: 'nav-link' do %>
            <i class="fas fa-users"></i>
            Users
            <div class="badge badge-info">
              <%= User.count %>
            </div>
          <% end %>
        </li>
        <li class="<%= 'active font-weight-bold' if current_page?(tenants_path) %> nav-item">
          <%= link_to tenants_path, class: 'nav-link' do %>
            <i class="fas fa-building"></i>
            Tenants
            <div class="badge badge-info">
              <%= Tenant.count %>
            </div>
          <% end %>
        </li>
      </ul>
      <ul class="navbar-nav mr-right">
        <% if current_user.tenants.include?(current_user.tenant) %>
          <li class="<%= 'active font-weight-bold' if ActsAsTenant.current_tenant %> nav-item">
            <%= link_to tenant_path(current_user.tenant), class: 'nav-link' do %>
              <% if current_user.tenant.logo.attached? %>
                <%= image_tag current_user.tenant.logo, size: "30x30" %>
              <% else %>
                <i class="fas fa-briefcase"></i>
              <% end %>
              <%= current_user.tenant.name %>
            <% end %>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
            <i class="fas fa-building"></i>
            Tenants
          </a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right">
            <%= link_to my_tenants_path, class: "dropdown-item #{'active' if current_page?(my_tenants_path)}" do %>
              <i class="fas fa-building"></i>
              My Tenants
            <% end %>
            <%= link_to new_tenant_path, class: "dropdown-item #{'active' if current_page?(new_tenant_path)}" do %>
              <i class="fas fa-plus"></i>
              New Tenant
            <% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
            <%= current_user.email %>
          </a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right">
            <%= link_to edit_user_registration_path, class: "dropdown-item #{'active' if current_page?(edit_user_registration_path)}" do %>
              Account settings
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
              Sign out
            <% end %>
          </div>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav mr-right">
        <li class="<%= 'active font-weight-bold' if current_page?(new_user_registration_path) %> nav-item">
          <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="<%= 'active font-weight-bold' if current_page?(new_user_session_path) %> nav-item">
          <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="<%= 'active font-weight-bold' if current_page?(user_google_oauth2_omniauth_authorize_path) %> nav-item">
          <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'nav-link' do %>
            <div class="fab fa-google"></div>
          <% end %>
        </li>
        <li class="<%= 'active font-weight-bold' if current_page?(user_github_omniauth_authorize_path) %> nav-item">
          <%= link_to user_github_omniauth_authorize_path, class: 'nav-link' do %>
            <div class="fab fa-github"></div>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
