<div class="sticky-top">
  <ul class="nav flex-column bg-dark shadow rounded">

    <%= sidebar_long_active_link_to superadmin_root_path do %>
      <i class="fas fa-user-shield"></i>
      <%= t 'navigation.superadmin' %>
    <% end %>
    
    <%= sidebar_long_active_link_to superadmin_users_path do %>
      <i class="fas fa-users"></i>
      <%= t 'navigation.users' %>
      <div class="badge bg-info">
        <%= User.count %>
      </div>
    <% end %>
    
    <%= sidebar_long_active_link_to superadmin_tenants_path do %>
      <i class="fas fa-building"></i>
      <%= t 'navigation.tenants' %>
      <div class="badge bg-info">
        <%= Tenant.count %>
      </div>
    <% end %>
  
    <%= sidebar_long_active_link_to plans_path do %>
      <i class="fas fa-tags"></i>
      <%= t 'navigation.plans' %>
      <div class="badge bg-info">
        <%= Plan.count %>
      </div>
    <% end %>
  
    <%= sidebar_long_active_link_to superadmin_subscriptions_path do %>
      <i class="fas fa-business-time"></i>
      <%= t 'navigation.subscriptions' %>
      <div class="badge bg-info">
        <%= Subscription.count %>
      </div>
    <% end %>
  
    <%= sidebar_long_active_link_to superadmin_charges_path do %>
      <i class="fas fa-money-bill"></i>
      <%= t 'navigation.charges' %>
      <div class="badge bg-info">
        <%= Charge.count %>
      </div>
    <% end %>

  </ul>
</div>
<br>