<div class="sticky-top">
  <ul class="nav flex-column bg-dark shadow rounded">

    <%= sidebar_long_active_link_to dashboard_path do %>
      <i class="fas fa-tachometer-alt"></i>
      <%= t 'sidebar.dashboard' %>
    <% end %>

    <%= sidebar_long_active_link_to calendar_path do %>
      <i class="fas fa-calendar"></i>
      <%= t 'sidebar.calendar' %>
    <% end %>

    <%= sidebar_long_active_link_to clients_path do %>
      <i class="far fa-address-book"></i>
      <%= t 'sidebar.clients' %>
      <div class="badge badge-info">
        <%= Client.count %>
      </div>
    <% end %>

    <%= sidebar_long_active_link_to projects_path do %>
      <i class="fa fa-tasks"></i>
      <%= t 'sidebar.projects' %>
      <div class="badge badge-info">
        <%= Project.count %>
      </div>
    <% end %>

    <%= sidebar_long_active_link_to tasks_path do %>
      <i class="fa fa-check-square"></i>
      <%= t 'sidebar.tasks' %>
      <div class="badge badge-info">
        <%= Task.count %>
      </div>
    <% end %>

    <%= sidebar_long_active_link_to payments_path do %>
      <i class="fa fa-money-bill"></i>
      <%= t 'sidebar.payments' %>
      <div class="badge badge-info">
        <%= Payment.count %>
      </div>
    <% end %>

    <%= sidebar_long_active_link_to members_path do %>
      <i class="fas fa-users"></i>
      <%= t 'sidebar.members' %>
      <div class="badge badge-info">
        <%= Member.count %>
      </div>
    <% end %>

    <%= sidebar_long_active_link_to tags_path do %>
      <i class="fa fa-tags"></i>
      <%= t 'sidebar.tags' %>
      <div class="badge badge-info">
        <%= Tag.count %>
      </div>
    <% end %>

    <%= sidebar_long_active_link_to tenant_path(current_tenant) do %>
      <i class="fas fa-briefcase"></i>
      <%= current_tenant %>
    <% end %>

  </ul>
</div>
<br>