<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag "tree favicon yellow.png" %>

    <title>
      <% if ActsAsTenant.current_tenant %>
        CorsegoSaaS | <%= ActsAsTenant.current_tenant %>
      <% else %>
        CorsegoSaaS - SaaS Multi-Tenancy boilerplate for Ruby on Rails
      <% end %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <%= render 'layouts/header' %>

   <%= flash_messages %>

    <div class="container-fluid">
      <p></p>
        <% if ActsAsTenant.current_tenant && current_user.tenants.include?(current_user.tenant) %>
          <div class="row">
            <div class="col-lg-2">
              <%= render 'layouts/tenant_sidebar' %>
            </div>
            <div class="col-lg-10">
              <%= yield %>
            </div>
          </div>
        <% else %>
          <%= yield %>
        <% end %>
    </div>
  </body>
  <%= render 'layouts/footer' %>
</html>
