<%= simple_form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <ul class="text-danger">
      <% @member.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="mb-3">
    <%= f.label :roles %>
    <br>
    <% Member::ROLES.each do |role| %>
      <label>
        <%= f.check_box role %>
        <%= role.to_s.humanize %>
      </label>
      <br>
    <% end %>

    <%= f.input :first_name %>
    <%= f.input :middle_name %>
    <%= f.input :last_name %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
