<% model_class = Member %>
<h3>
  <div class="text-center">
    <%= t '.title', default: model_class.model_name.human.pluralize.titleize %>
    <div class="badge badge-info">
      <%= @members.count %>
    </div>
  </div>
</h3>

<% if @current_member.admin? %>
  <% if current_tenant.can_invite_members? %>
    <%= form_tag invite_members_path, method: :get do %>
      <%= email_field_tag 'email' %>
      <%= submit_tag t(".invite") %>
    <% end %>
  <% else %>
    <small>
      <%= t(".max_members_for_subscription_reached") %>
      <div class="badge badge-info">
        <%= current_tenant.plan.max_members %>
      </div>
    </small>
  <% end %>
<% else %>
  <small>
    <%= t(".only_admin_can_invite_members") %>
  </small>
<% end %>

<br>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover table-sm table-light shadow">
    <thead>
      <tr>
        <th><%= sort_link(@q, :id, default_order: :desc) %></th>
        <th><%= sort_link(@q, :user_email) %></th>
        <th><%= sort_link(@q, :tenant_name) %></th>
        <th><%= sort_link(@q, :invitation) %></th>
        <th><%= model_class.human_attribute_name(:roles).capitalize %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= link_to member.id, member %></td>
          <td><%= member.user %></td>
          <td><%= member.tenant %></td>
          <td>
            <% if member.user.created_by_invite? %>
                <span class="small">
                  invited by
                  <%= member.user.invited_by %>
                </span>
              <br/>
              <% if member.user.invitation_accepted_at.present? %>
                <span class="badge badge-success">
                  invitation accepted
                </span>
              <% else %>
                <%= link_to t(".resend_invitation"), resend_invitation_user_path(member.user), method: :patch %>
              <% end %>
            <% end %>
          </td>
          <td><%= member.active_roles.join(", ") %></td>
          <% if @current_member.admin? %>
            <td><%= link_to t(".edit", default: t("helpers.links.edit")).capitalize, edit_member_path(member), class: "btn btn-sm btn-warning" %></td>
            <td><%= link_to t(".destroy", default: t("helpers.links.destroy")).capitalize, member, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<br/>
