<div class="card">
  <div class="card-header">
    <h4>
      <strong>Member id:</strong>
      <%= @member.id %>
    </h4>
  </div>
  <div class="card-body">
    <strong>User:</strong>
    <%= @member.user %>
    <br>
    <strong>Tenant:</strong>
    <%= @member.tenant %>
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_member_path(@member) %> |
    <%= link_to 'Back', members_path %>
  </div>
</div>