<% model_class = Member %>
<div class="card shadow">
  <div class="card-header">
    <h4>
      <strong><%= model_class.human_attribute_name(:id).capitalize %>:</strong>
      <%= @member.id %>
    </h4>
  </div>
  <div class="card-body">
    <strong><%= model_class.human_attribute_name(:user).capitalize %>:</strong>
    <%= @member.user %>
    <br>
    <strong><%= model_class.human_attribute_name(:tenant).capitalize %>:</strong>
    <%= @member.tenant %>
    <br>
    <strong><%= model_class.human_attribute_name(:roles).capitalize %>:</strong>
    <%= @member.active_roles.join(", ") %>
    <br>
    <strong><%= model_class.human_attribute_name(:balance).capitalize %>:</strong>
    <%= @member.balance_cents %>
  </div>
  <div class="card-footer">
    <% if @current_member.admin? %>
      <%= link_to t(".edit", default: t("helpers.links.edit")).capitalize, edit_member_path(@member), class: "btn btn-sm btn-warning" %>
    <% end %>
    <%= link_to t(".back", default: t("helpers.links.back")).capitalize, members_path, class: "btn btn-sm btn-secondary" %>
  </div>
</div>