<div class="card shadow">
  <div class="card-header">
    <h4>
      <strong>Member id:</strong>
      <%= @member.id %>
    </h4>
  </div>
  <div class="card-body">
    <strong>User:</strong>
    <%= @member.user %>
    <br>
    <strong>Tenant:</strong>
    <%= @member.tenant %>
    <br>
    <strong>Roles:</strong>
    <%= @member.active_roles.join(", ") %>
  </div>
  <div class="card-footer">
    <% if @current_member.admin? %>
      <%= link_to 'Edit', edit_member_path(@member) %>
    <% end %>
    <%= link_to 'Back', members_path %>
  </div>
</div>